@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
    --font-sans: 'Geist Variable', sans-serif;
    --font-mono: 'Geist Mono Variable', monospace;
    --font-jp: 'Noto Sans JP Variable', sans-serif;
}

@layer components {
    .link {
        @apply font-semibold text-amber-200 underline
    }

    .strong {
        @apply font-semibold text-amber-200
    }
}

@layer base {
    html {
        scrollbar-gutter: auto;
    }
}