---
import resume from "../assets/resume.pdf";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="h-dvh">
        <iframe src={resume} class="size-full"></iframe>
    </main>
</Layout>
