---
import { Mail, File } from "lucide-react";
import { Github, LinkedIn } from "./react/icons";
import TitlePattern from "./title-pattern.astro";
const {
    PUBLIC_EMAIL: mail,
    PUBLIC_GITHUB: github,
    PUBLIC_LINKEDIN: linkedin,
} = import.meta.env;
---

<main
    id="about"
    class:list={[
        "min-h-screen sm:p-10 p-5",
        "flex items-center justify-center relative",
        "sm:bg-radial-[50%_50%_at_50%_50%] from-indigo-950 to-zinc-950 to-50%",
        "bg-radial-[100%_50%_at_50%_50%]",
    ]}
>
    <TitlePattern en="About me" jp="私について" />
    <section
        class="flex sm:flex-row flex-col items-center justify-center gap-10 max-w-3xl z-10"
    >
        <article
            class="max-w-full w-full flex flex-col gap-4 sm:text-base text-sm"
        >
            <p>
                My name is <strong class="strong">Juan Manuel</strong> but I like
                to be called Jotis. I started programming when I was very young,
                making discord bots for "osu!" servers.
            </p>
            <p>
                I always liked creating things and I used <strong class="strong"
                    >code as a tool for it.</strong
                >
                I am <strong class="strong">not a conformist person,</strong> if
                something can be done better I will look for a way to make it possible.
            </p>
            <p>
                I like to help my colleagues and <strong class="strong"
                    >share my knowledge,</strong
                > I believe in teamwork and camaraderie.
            </p>
        </article>
        <figure
            class="bg-zinc-800/30 rounded-[18px] backdrop-blur-md p-1 size-64 shrink-0"
        >
            <img
                src={`https://github.com/${github}.png`}
                alt="Jotis's Github Image"
                class="rounded-2xl"
            />
        </figure>
    </section>
    <footer
        class="absolute bottom-0 flex flex-col sm:gap-12 gap-5 px-5 py-10 items-center justify-center text-sm"
    >
        <p>Crafted by me with Astro</p>
        <section class="flex gap-12 items-centerfont-medium text-zinc-400">
            <a
                class="flex items-center gap-1.5"
                href={`https://linkedin.com/in/${linkedin}`}
                target="_blank"
                rel="noopener noreferrer"
            >
                <LinkedIn className="size-4" />
                Linkedin
            </a>
            <a
                class="flex items-center gap-1.5"
                href={`https://github.com/${github}`}
                target="_blank"
                rel="noopener noreferrer"
            >
                <Github className="size-4" />
                Github
            </a>
            <a
                class="flex items-center gap-1.5"
                href={`mailto:${mail}`}
                target="_blank"
                rel="noopener noreferrer"
            >
                <Mail className="size-4" />
                Email
            </a>
            <a
                class="flex items-center gap-1.5"
                href="/cv"
                target="_blank"
                rel="noopener noreferrer"
            >
                <File className="size-4" />
                Curriculum
            </a>
        </section>
    </footer>
</main>
