---
interface Props {
    variant: "primary" | "secondary";
    onlyIcon?: boolean;
}

const { variant, onlyIcon = false } = Astro.props;
---

<button
    class:list={[
        "flex items-center justify-center gap-2.5 rounded-2xl text-sm font-semibold",
        "px-5 h-10 w-fit",
        variant === "primary" && "bg-indigo-400 text-zinc-900",
        variant === "secondary" && "bg-zinc-800",
        onlyIcon && "size-10 *:shrink-0",
    ]}
>
    <slot />
</button>
