---
import Technology from "./technology.astro";
import Button from "./button.astro";
import TitlePattern from "./title-pattern.astro";
import Github from "./icons/github";
import { ExternalLink } from "lucide-react";
interface Props {
    name: string;
    technologies: (
        | "supabase"
        | "typescript"
        | "bun"
        | "astro"
        | "tailwind"
        | "next"
    )[];
    source: string;
    live?: string;
    reverse?: boolean;
}

const { name, technologies, source, reverse, live } = Astro.props;
---

<main
    class:list={["h-dvh w-full flex justify-center items-center relative p-10"]}
>
    <TitlePattern en="Projects" jp="プロジェクト" />
    <article
        class:list={[
            "max-w-3xl w-full z-10",
            "flex sm:flex-row flex-col items-center gap-10",
            reverse && "sm:flex-row-reverse flex-col",
        ]}
    >
        <aside class="flex flex-col gap-5 max-w-80 w-full">
            <header class="flex flex-col gap-2.5">
                <h1 class="text-2xl font-semibold text-indigo-400">{name}</h1>
                <section class="flex items-center gap-2.5">
                    {
                        technologies.map((technology) => (
                            <Technology variant={technology} />
                        ))
                    }
                </section>
            </header>
            <slot name="description" />
            <footer class="flex w-full justify-between">
                {
                    source && (
                        <Button variant="primary">
                            <a
                                href={source}
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                Source code
                            </a>
                            <Github className="size-5 fill-zinc-900" />
                        </Button>
                    )
                }
                {
                    live && (
                        <a
                            href={live}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Button variant="secondary">
                                Live preview{" "}
                                <ExternalLink className="size-4 text-amber-200" />
                            </Button>
                        </a>
                    )
                }
            </footer>
        </aside>
        <slot name="content" />
    </article>
</main>
<style>
    main {
        background: radial-gradient(
                50% 50% at 50% 50%,
                var(--color-zinc-900, rgba(39, 39, 42, 0.2)) 0%,
                var(--color-zinc-950, rgba(9, 9, 11, 0.2)) 50%
            ),
            var(--color-zinc-950, #09090b);
    }
</style>
