<div
    class:list={[
        "prose prose-invert prose-zinc",
        "prose-code:font-mono",
        "prose-a:no-underline prose-a:text-indigo-400 prose-a:after:content-['_⤴'] prose-a:hover:underline",
        "prose-h2:before:content-['#_'] prose-h2:before:text-indigo-400",
        // change the list dots color
        "marker:text-indigo-400",
    ]}
>
    <slot />
</div>
