<div
    class:list={[
        "prose prose-invert prose-zinc",
        "prose-code:font-mono",
        "prose-a:text-amber-200 prose-a:after:content-['_⤴']",
        "prose-h2:before:content-['#_'] prose-h2:before:text-indigo-400",
        "prose-strong:text-amber-200",
        // change the list dots color
        "marker:text-indigo-400",
    ]}
>
    <slot />
</div>
