---
import {
    Supabase,
    TypeScript,
    Bun,
    Astro as AstroIcon,
    TailwindCSS,
    Nextjs,
} from "./react/icons";

interface Props {
    variant: "supabase" | "typescript" | "bun" | "astro" | "tailwind" | "next";
}

const { variant } = Astro.props;

const color = {
    supabase: "text-emerald-300",
    typescript: "text-indigo-400",
    bun: "text-rose-200",
    astro: "text-zinc-50",
    tailwind: "text-sky-300",
    next: "text-zinc-50",
};

const icon = {
    supabase: Supabase,
    typescript: TypeScript,
    bun: Bun,
    astro: AstroIcon,
    tailwind: TailwindCSS,
    next: Nextjs,
};

const text = {
    supabase: "Supabase",
    typescript: "TypeScript",
    bun: "Bun",
    astro: "Astro",
    tailwind: "TailwindCSS",
    next: "Next.js",
};
---

<span
    class:list={[
        "sm:text-sm text-xs",
        "flex items-center gap-2.5",
        "px-2.5 py-1 rounded-lg bg-zinc-900",
        color[variant],
    ]}
>
    {
        () => {
            const Icon = icon[variant];
            return <Icon className="size-3.5" />;
        }
    }
    {text[variant]}
</span>
