---
import "../styles/global.css";
import "@fontsource-variable/geist";
import "@fontsource-variable/geist-mono";
import "@fontsource-variable/noto-sans-jp";
import { SEO } from "astro-seo";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}
const {
	title = "Jotis's porfolio",
	description = "Hi there, I'm Jotis, a Spanish software developer. Check out my portfolio to explore some of my projects.",
	image = "/og-image.png",
} = Astro.props;

const site = "https://jotis.me";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<SEO
			title={title}
			description={description}
			openGraph={{
				basic: {
					title,
					type: "website",
					url: site,
					image: image,
				},
				image: {
					url: image,
					alt: title,
				},
				optional: {
					description,
				},
			}}
			twitter={{
				card: "summary_large_image",
				site: site,
				title,
				image: image,
				description,
			}}
			extend={{
				meta: [
					{
						name: "theme-color",
						content: "#83b1f2",
					},
				],
			}}
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body
		class:list={[
			"antialiased font-sans text-zinc-50 font-normal",
			"bg-zinc-950 selection:bg-indigo-500 selection:text-white",
		]}
	>
		<slot />
	</body>
</html>
