---
import "../styles/global.css";
import "@fontsource-variable/geist";
import "@fontsource-variable/noto-sans-jp";
import { SEO } from "astro-seo";

const image = "/og-image.png";
const site = "https://jotis.me";
const description =
	"Hi there, I'm Jotis, a Spanish software developer. Check out my portfolio to explore some of my projects.";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<SEO
			title="Jotis's porfolio"
			description={description}
			openGraph={{
				basic: {
					title: "Jotis's porfolio",
					type: "website",
					url: site,
					image: image,
				},
				image: {
					url: image,
					alt: "Jotis's porfolio",
				},
				optional: {
					description,
				},
			}}
			twitter={{
				card: "summary_large_image",
				site: site,
				title: "Jotis's porfolio",
				image: image,
				description,
			}}
			extend={{
				meta: [
					{
						name: "theme-color",
						content: "#83b1f2",
					},
				],
			}}
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body
		class:list={[
			"antialiased font-sans text-zinc-50 font-normal",
			"bg-zinc-950",
		]}
	>
		<slot />
	</body>
</html>
